.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .spacer{
    height: 5rem;
}

/* @media only screen and (max-width: 600px) {
    .container {
        padding: 0 1rem;
    }
    .container .spacer {
        height: 2rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }
    .container .spacer {
        height: 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        padding: 0 3rem;
    }
    .container .spacer {
        height: 4rem;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        padding: 0 4rem;
    }
    .container .spacer {
        height: 5rem;
    }
} */