.wrapper {
  width: 100%;
  user-select: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 7rem;
  margin: auto;
}

.hero-border {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 15px;
  border: 1px solid orange;
  padding: 0.5rem;
  width: 16rem;
}

.herotext {
  width: 70%;
  margin-top: 30px;
}

.herotext p {
  font-size: 64px;
  font-weight: 600;
  color: #595961;
}

.herotext span {
  color: #aa36af;
}

.hero-container .text-btn {
  margin-top: 10px;
}

.hero-container .text-btn .group-btn {
  display: flex;
  height: 30px;
  gap: 1rem;
  margin-top: 30px;
}

.hero-container .text-btn .group-btn .gold-btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: #fefbe9;
  padding: 0 15px;
  border-radius: 50px;
  color: #bb5302;
  font-weight: 500;
}

.hero-container .text-btn .group-btn .enroll-btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: #aa36af;
  padding: 1.5rem;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.hero-container .text-btn .group-btn .more-btn {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: #aa36af;
  font-weight: 700;
  gap: 0.2rem;
  cursor: pointer;
}

.wrapper .footer {
  margin-top: 70px;
  width: 100%;
  height: 140px;
  background-color: #fbf5fb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .footer .img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 25%;
}

.wrapper .footer .img:not(:last-child) {
  border-right: 1px solid #ebceef;
  padding-right: 1rem;
  height: 80px;
}

.wrapper .footer .img .icon {
  font-size: 19px;
  color: #aa36af;
}

.wrapper .footer .img .img-text {
  display: flex;
  flex-direction: column;
  color: #686972;
}

.img-text :first-child {
  font-size: 2rem;
  font-weight: 600;
  color: #aa36af;
}

.img-text :last-child {
  font-size: 1.3rem;
}

/* Large screens */
@media (max-width: 1200px) {
  .herotext p {
    font-size: 48px;
  }
}

/* Medium screens */
@media (max-width: 992px) {
  .hero-container {
    width: 90%;
  }

  .herotext {
    width: 100%;
  }

  .herotext p {
    font-size: 40px;
  }

  .hero-container .text-btn .group-btn {
    flex-wrap: wrap;
    height: auto;
  }

  .hero-container .text-btn .group-btn .gold-btn {
    font-size: 14px;
    padding: 0 10px;
  }

  .hero-container .text-btn .group-btn .enroll-btn,
  .hero-container .text-btn .group-btn .more-btn {
    padding: 1rem;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .hero-container {
    width: 95%;
  }

  .herotext p {
    font-size: 32px;
  }

  .hero-container .text-btn .group-btn {
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }

  .hero-container .text-btn .group-btn .gold-btn {
    flex: 1 1 auto;
    font-size: 9px;
    padding: 4px;
    width: 80px;
    text-align: center;
  }

  .hero- .text-btn .group-btn .enroll-btn,
  .hero-container .text-btn .group-btn .more-btn {
    padding: 0.8rem;
  }
  container .wrapper .footer {
    display: none;
  }
}

/* Extra small screens */
@media (max-width: 576px) {
  .hero-container {
    width: 80%;
    padding-top: 4rem;
  }

  .herotext p {
    font-size: 24px;
  }

  .hero-border {
    width: 100%;
  }

  .hero-container .text-btn .group-btn {
    flex-wrap: wrap;
  }

  .hero-container .text-btn .group-btn .gold-btn {
    width: 80px;
  }

  .hero-container .text-btn .group-btn .enroll-btn,
  .hero-container .text-btn .group-btn .more-btn {
    width: 100%;
    justify-content: center;
  }
}
