.wrapper{
    width: 100%;
    user-select: none;
}

.hero-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 7rem;
    margin: auto;
}

.hero-border{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 15px;
    border: 1px solid orange;
    padding: 0.5rem;
    width: 16rem;
}

.herotext{
    width: 70%;
    margin-top: 30px;
}

.herotext p{
    font-size: 64px;
    font-weight: 600;
    color: #595961;
}

.herotext span{
    color: #AA36AF;
}

.hero-container .text-btn{
    margin-top: 10px;
}

.hero-container .text-btn .group-btn{
    display: flex;
    height: 30px;
    gap: 1rem;
    margin-top: 30px;
}

.hero-container .text-btn .group-btn .gold-btn{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: #FEFBE9;
    padding: 0 15px 0 15px;
    border-radius: 50px;
    color: #BB5302;
    font-weight: 500;
}

.hero-container .text-btn .group-btn .enroll-btn{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: #AA36AF;
    padding: 1.5rem;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.hero-container .text-btn .group-btn .more-btn{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: #AA36AF;
    font-weight: 700;
    gap: 0.2rem;
    cursor: pointer;
}

.wrapper .footer{
    margin-top: 70px;
    width: 100%;
    height: 140px;
    background-color: #FBF5FB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .footer .img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 25%;
}

.wrapper .footer .img:not(:last-child) {
    border-right: 1px solid #EBCEEF;
    padding-right: 1rem;
    height: 80px;
}

.wrapper .footer .img .icon{
    font-size: 19px;
    color: #AA36AF;
}

.wrapper .footer .img .img-text{
    display: flex;
    flex-direction: column;
    color: #686972;
}

.img-text :first-child{
    font-size: 2rem;
    font-weight: 600;
    color: #AA36AF;
}

.img-text :last-child{
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .wrapper{
        width: 100%;
        user-select: none;
    }
    
    .hero-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-top: 7rem;
        margin: auto;
    }
    
    .hero-border{
        display: flex;
        align-items: center;
        gap: 0.8rem;
        border-radius: 15px;
        border: 1px solid orange;
        padding: 0.5rem;
        width: 16rem;
    }
    
    .herotext{
        width: 100%;
        margin-top: 30px;
    }
    
    .herotext p{
        font-size: 32px;
        font-weight: 600;
        color: #595961;
    }
    
    .herotext span{
        color: #AA36AF;
    }
    
    .hero-container .text-btn{
        margin-top: 10px;
    }
    
    .hero-container .text-btn .group-btn{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        gap: 1rem;
        margin-top: 30px;
    }
    
    .hero-container .text-btn .group-btn .gold-btn{
        display: flex;
        align-items: center;
        gap: 0.2rem;
        background-color: #FEFBE9;
        padding: 0 15px 0 15px;
        border-radius: 50px;
        color: #BB5302;
        font-weight: 500;
        font-size: 15px;
    }
    
    .hero-container .text-btn .group-btn .enroll-btn{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        background-color: #AA36AF;
        padding: 1.5rem;
        border-radius: 15px;
        color: #fff;
        cursor: pointer;
    }
    
    .hero-container .text-btn .group-btn .more-btn{
        display: flex;
        align-items: center;
        padding: 1.5rem;
        color: #AA36AF;
        font-weight: 700;
        gap: 0.2rem;
        cursor: pointer;
    }

    .wrapper .footer{
        display: none;
    }
    
}