.main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-content .offer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.main-content .offer .heading p {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #686972;
}

.main-content .offer p span {
  background: linear-gradient(to right, #b73bbe, #992e9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* violet box */
.main-content .offer .box {
  margin-top: 30px;
  padding: 20px;
  width: 25rem;
  background: linear-gradient(to right, #9849ff, #841ee3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-content .offer .box p {
  font-size: 20px;
  color: #fff;
  margin: 0;
}

/* range */
.main-content .offer .box .group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 10px;
}

.main-content .offer .box .group p {
  margin: 5px 0;
  font-size: 14px;
}

.main-content .offer .box .group input[type="range"] {
  width: 100%;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #ffc41b;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.main-content .offer .box .group input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ffc41b;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}

.main-content .offer .box .group input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffc41b;
  cursor: pointer;
  border-radius: 50%;
}

.main-content .offer .text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 1rem;
}

.offer .text-box p {
  font-size: 16px;
}

.scribble {
  position: absolute;
  right: 0px;
  top: 25%;
  transform: translateY(-50%);
  z-index: 10;
}

/* arrow */
.offer .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer .row .row-item {
  margin-top: 30px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer .row .row-item::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f5f5f6;
  width: calc(75% - 50px);
  top: 61.6%;
  left: 15%;
  transform: translateY(-70%);
  z-index: -12;
}

.offer .row .row-item:last-child::after {
  display: none;
}

.offer .row .row-item .row-arrow {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.offer h2 {
  margin-top: 10px;
  color: #450d45;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.offer .row .row-item .row-arrow p {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.offer .row .row-item .row-box {
  width: 100%;
  background: linear-gradient(to right, #ffffff, #fcf5fe);
  margin-top: 15px;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid #f9ebfc;
}

.offer .row .row-item .row-box p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

.offer .row .row-item .row-box .img-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.offer .row .row-item .row-box h3 {
  margin-top: 20px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.main-content .footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fffcea;
  width: 100%;
  padding-bottom: 15px;
}

.main-content .footer p {
  margin-top: 28px;
  font-size: 32px;
  font-weight: 700;
  color: #374957;
}

.main-content .footer p span {
  background: linear-gradient(to right, #b73bbe, #ebcb2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-content .footer .box-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.main-content .footer .box {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 120px;
  gap: 10px;
  position: relative;
  border-radius: 15px;
}

.main-content .footer .box p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .main-content .offer .heading p {
    font-size: 24px;
    width: 100%;
  }

  .main-content {
    width: 100%;
  }

  .main-content .offer {
    width: 100%;
  }

  .offer .row {
    width: 100%;
  }

  .offer .row .row-item .row-box {
    width: 80%;
  }

  .offer .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .offer .row .row-item {
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .main-content .offer .box {
    width: 80%;
  }

  .main-content .offer .box p {
    font-size: 14px;
  }

  .offer .row .row-item .row-arrow {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
  }

  .main-content .footer .box-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
  }

  .main-content .footer p {
    text-align: center;
  }

  .offer .row .row-item .row-box .img-box-mob {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .offer .row .row-item .row-box .img-box {
    display: none;
  }

  .offer .row .row-item .row-arrow {
    display: none;
  }

  .offer .row .row-item .row-arrow-mob p {
    position: relative;
    margin-top: -30px;
    margin-left: 7px;
    color: #fff;
  }

  .offer .row .row-item::after {
    content: "";
    position: absolute;
    height: calc(55% - 90px);
    background-color: #f5f5f6;
    width: 2px;
    top: 77%;
    left: 16.5%;
    transform: translateY(-70%);
    z-index: -12;
  }

  .offer .row .row-item:last-child::after {
    display: none;
  }
}

@media (min-width: 1024px) {
  .offer .row .row-item .row-box .img-box-mob {
    display: none;
  }

  .offer .row .row-item .row-arrow-mob {
    display: none;
  }
}
