@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  user-select: none;
}

li .active{
  color: white;
  border-bottom: 3px solid #FFA50B;
  padding: 3.5px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(transparent, #992E9D);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #992E9D);
  cursor: default;
}

@media (max-width: 768px) {
  li .active{
  color: white;
  border-bottom: 3px solid #FFA50B;
  padding: 2px;
}
}